<!DOCTYPE html>
<html>
<head>
	<title>Data Structure Display</title>
	<style type="text/css">
		table {
			border-collapse: collapse;
			width: 100%;
		}
		th, td {
			text-align: left;
			padding: 8px;
			border: 1px solid black;
		}
		tr:nth-child(even) {
			background-color: #f2f2f2;
		}
	</style>
</head>
<body>
	<table>
		{% for row in data %}
			<tr>
				<td>{{ row.timestamp }}</td>
				{% for item in row.detected_objects %}
					<td>{{ item.class }}</td>
					<td>{{ item.confidence }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
</body>
</html>